.score-title-flexbox {
  display: flex;
  width: 250px;
  background-color: lightblue;
  justify-content: space-around;
  margin-top: 30px;
}

.score-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  align-items: center;
  width: 250px;
}
